.barchart__hours {
  margin: 0;
}

rect {
  opacity: 0.5;
}

.current_hour {
  opacity: 1;
}

rect:hover {
  opacity: 0.8;
}

.svgBar,
rect {
  transition: all ease 0.6s;
}

.barLabel {
  font-family: "Jost";
  /* font-size: 0.8rem; */
  font-weight: 800;
  text-align: center;
  color: white;
}

.heading {
  /* composes: fontHeading from "./../styles/typography.module.css"; */
}

.axisBottom {
  font-family: "Jost";
}

.axisTitle {
  font-family: "Jost";
}
