.modal {
  composes: fontBody from "../styles/typography.module.css";

  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  align-items: center;
  justify-content: center;
}

.modalVisible {
  display: flex;
}

.modalContent {
  border-radius: 8px;
  background-color: var(--text);
  /* min-height: 50vh; */
  width: 25rem;
  padding: 2rem;
}

.illustration {
  max-height: 5rem;
}

.close {
  float: right;
}

.instructions {
  composes: fontBody from "./../styles/typography.module.css";
}

.heading {
  composes: fontHeading from "./../styles/typography.module.css";
}

@media screen and (min-width: 30em) {
  .illustration {
    max-height: 10rem;
  }
}
