.barchart__hours {
  margin: 0;
}

rect {
  opacity: 0.5;
}

.current_hour {
  opacity: 1;
}

rect:hover {
  opacity: 0.8;
}

.bar-label {
  font-size: 0.8rem;
  font-weight: 800;
  color: white;
}

.heading {
  composes: fontHeading from "./../styles/typography.module.css";
}
