.stationHeader {
  composes: bodyFont from "../styles/typography.module.css";
}

.header {
  display: flex;
  justify-content: space-between;
}

.heading {
  composes: fontHeading from "../styles/typography.module.css";
  font-size: 1.5rem;
}

.number::before {
  content: "#";
}

.loadingIllustration {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}
