.stationHeader {
  composes: bodyFont from "../styles/typography.module.css";
}

.header {
  display: flex;
  justify-content: space-between;
}

.heading {
  /* composes: fontHeading from "../styles/typography.module.css"; */
  font-family: "Jost";
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 0 0 0.5rem 0;
  padding: 0;
}

.number::before {
  content: "#";
}

.loadingIllustration {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}
