.stationHeader {
  composes: bodyFont from "../styles/typography.module.css";
}

.header {
  display: flex;
  justify-content: space-between;
}

.heading {
  /* composes: fontHeading from "../styles/typography.module.css"; */
  font-family: "Jost";
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 0 0 0.5rem 0;
  padding: 0;
}

.number::before {
  content: "#";
}

.figure {
  max-width: 50%;
  margin: auto auto;
  padding: 1rem;
  max-height: 4rem;
  overflow: hidden;
}

.loadingIllustration {
  background-color: white;
  display: inline-block;
  position: relative;
  width: 100%;

  /* padding: 2rem; */
  margin: 1rem;
  vertical-align: middle;
  /* overflow: hidden; */
}

.loading {
  color: var(--bg);
  background-color: white;
  padding: 0.1rem 1rem;
  border-radius: 6px;
}

.message {
  padding: 0;
  font-family: "Jost";
}
