.heading {
  composes: fontHeading from "./../styles/typography.module.css";
  text-transform: uppercase;
  font-weight: bold;
}

.station {
  border: 1px solid gray;
  border-radius: 8px;
  text-align: center;
  padding: 0.5rem;
}

.info-header {
  animation: 12s infinite flash;
  padding-bottom: 0;
  /* margin-bottom: 0.25rem; */
}

.status-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.1px;
  margin: 0 0 0 0;
  padding: 0 0 0.25rem 0;
}

.station-name {
  margin-bottom: 0;
}
.station-id {
  font-size: 1rem;
  margin-top: 0;
  font-weight: 300;
}
.station-id:before {
  content: "#";
}
.station-info {
  margin: 0;
}

.station-info:last-child {
  margin-bottom: 2rem;
}

/* Layout  */
.station-status {
  display: flex;
  justify-content: center;
}
.station-status > * {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.station-status-label {
  font-size: 0.7rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-top: 0;
}

/* Composed */
.station-counts {
  font-family: "Jost";
  font-size: 2rem;
  text-align: center;
}

.station-updated {
  margin-bottom: 1rem;
}

.station-bikes,
.station-electric,
.station-docks {
  composes: station-counts;
}
/*  */

.loading-illustration {
  border: 1px solid gray;
  background-color: var(--text);
  color: var(--bg);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  height: 10rem;
}
