button {
  color: black;
  font-weight: bold;
  letter-spacing: 0.5px;
  background-color: var(--button-bg);
  font-family: "Jost";
  border: none;
  padding: 0.5rem;
  border-radius: 6px;
}

button:hover {
  background-color: var(--button-bg-hover);
  color: black;
}
