.branding {
  padding: 0 0 0 1rem;
}

.help {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px;
  color: black;
}

.header {
  /* composes: fontHeading from "./../../styles/typography.module.css"; */
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* grid-column: 1/10; */
  color: white;
  padding: 0.25rem;
}
