.container {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 50%;
  margin: auto;
}
