/* App Layout */


svg {
  width: 100%;
  height: 100%;
}

.mapboxgl-popup-content {

  color: var(--c-white);
  background-color: var(--c-blue);

  font-family: var(--font-main);
  font-size: 1rem;
  font-weight: 900;
  padding: 1rem;
}