/* Theme options */
:root {
  --c-background: #ffffff;
  --c-text: #0a2472;
  --c-links: #c0b8ff;
  --button-bg: var(--c-links);
  --button-bg-hover: #c2b9fe;
  --theme-1: var(--c-links);
  --font-main: "Jost", "Futura", sans-serif;
}

body {
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.5;
}

.App {
  text-align: left;
  padding: 0;
  font-family: var(--font-main);
}

/* Colors */

html {
  background: var(--c-background);
}


/* Layout */
.mapboxgl-popup-content {
  background: rgba(255, 255, 255, 0.9);
}

.App {
  grid-template-columns: 1fr;
}

/* .App-header {
  color: white;
  padding: 8px;
} */

#main-map {
  /* grid-row: 1; */
  position: relative;
  top: 0;
  /* grid-row: 2; */
}

.App-footer {
  align-self: end;
  color: var(--c-text);
  /* padding: 1rem; */
}

.mapContainer {
  position: relative;
  height: 50vh;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    /* grid-template-rows: 2rem 1fr 12rem; */
    grid-gap: 0px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    /* grid-template-rows: 2rem 1fr 12rem; */
    grid-gap: 0px;
  }

  .App {
    pointer-events: none;
  }
  .App > * {
    pointer-events: auto;
  }

  /* .App-header {
    grid-column: 1/10;
    grid-row: 1;
  } */

  .App-sidebar {
    grid-column: 1 / 4;
  }

  .App-footer {
    grid-column: 1 / 10;
    /* grid-row: 3; */
    /* padding: 2rem; */
  }

  #main-map {
    grid-column: 4/10;
    /* grid-row: 1; */
    position: sticky;
    top: 0;
  }
  .mapContainer {
    position: relative;
    height: 100vh;
    width: 100%;
  }
}

/*  */
@media (prefers-reduced-motion: no-preference) {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg {
  width: 100%;
  height: 100%;
}

#map-legend {
  position: absolute;
  bottom: 5vw;
  right: 1vw;
  z-index: 10;
  max-width: 15vw;
  padding: 0.5rem;
  font-size: 0.8rem;
}

summary {
  font-family: "Jost";
  font-weight: bold;
}


button {
  margin: 0;
}
