.App {
  text-align: left;
  padding: 0;
}

/* Colors */

html {
  background-color: #0a2472;
}

.App-sidebar {
  background-color: #0a2472;
  color: #ffffff;
}

a {
  color: #6f72ff;
  font-weight: 600;
  text-decoration: none;
}

/* Typography */
.App {
  font-family: "Jost";
  font-size: 18px;
}

h1 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-top: 0;
}

.instructions {
  /* font-size: 0.8rem; */
}

.mapboxgl-popup-content {
  font-family: "Jost";
  font-size: 1.4rem;
  line-height: 1.25;
  padding: 1rem;
}

.mapboxgl-ctrl-geocoder {
  font-family: "Jost";
  /* font-size: 1.1rem; */
}

/* Layout */
.mapboxgl-popup-content {
  background: rgba(255, 255, 255, 0.9);
}

.App {
  grid-template-columns: 1fr;
}

.App-header {
  color: white;
  padding: 8px;
}

.App-sidebar {
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  flex-direction: column;
  padding: 2rem;
}

.App-sidebar-footer {
}

#main-map {
  /* grid-row: 1; */
  position: relative;
  top: 0;
  grid-row: 2;
}

.App-footer {
  align-self: end;
  color: white;
  padding: 1rem;
}

.mapContainer {
  position: relative;
  height: 50vh;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .App {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 2rem 1fr 12rem;
    grid-gap: 0px;
  }

  .App {
    pointer-events: none;
  }
  .App > * {
    pointer-events: auto;
  }

  .App-header {
    grid-column: 1/10;
    grid-row: 1;
  }

  .App-sidebar {
    grid-column: 1 / 5;
  }

  .App-footer {
    grid-column: 1 / 10;
    grid-row: 3;
    padding: 2rem;
  }

  #main-map {
    grid-column: 5/10;
    /* grid-row: 1; */
    position: sticky;
    top: 0;
  }
  .mapContainer {
    position: relative;
    height: 100vh;
    width: 100%;
  }
}

/*  */
@media (prefers-reduced-motion: no-preference) {
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
