.station-header {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}
.station-info-header {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.1px;
}
.station-name {
  margin-bottom: 0;
}
.station-id {
  font-size: 1rem;
  margin-top: 0;
  font-weight: 300;
}
.station-id:before {
  content: "#";
}
.station-info {
  margin: 0;
}

.station-info:last-child {
  margin-bottom: 2rem;
}

/* Layout  */
.station-status {
  display: flex;
}
.station-status > * {
  flex-grow: 1;
}

.station-status-label {
  font-size: 0.7rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-top: 0;
}

.station-counts {
  font-size: 2rem;
}

.station-updated {
  margin-bottom: 1rem;
}

.button-open-in-app {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 4px;
  background: var(--theme-1);
  border: none;
  color: var(--text);
  padding: 6px 16px;
  box-shadow: black 1px 1px 4px;
}

.loading-illustration {
  border: 1px solid gray;
  background-color: var(--text);
  color: var(--bg);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}
