.container {
  padding: 2rem;
}

.favoriteGrid {
  display: grid;
  gap: 1rem;
  padding-bottom: calc(var(--margin-desktop) * 2);
}

.stationId {
  width: 8rem;
}

.stationName {
  width: 20rem;
}

.stationBorough {
  max-width: 10rem;
}

.tr:hover {
  background: rgb(0, 0, 0, 0.15);
  cursor: pointer;
}
