.nav-container {
  background: var(--c-blue);
  color: var(--c-white);
  display: flex;
  z-index: 999;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4rem;
}

.list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1ch;

  margin: auto;
}

.li {
  text-align: center;
  align-items: center;

  list-style-type: none;
}

.a {
  border: 0.1rem solid white;
  border-radius: 10rem;
  color: currentColor;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;

  display: inline-block;
  padding-left: 0;
  padding: 0.5rem;
  width: 8rem;
  user-select: none;
}

.a:hover {
  background: var(--c-blue-dark);
}

.a:active {
  background: var(--c-white);
  color: var(--c-blue);
}

.icon {
  display: block;
  height: 2em;
  width: 2em;
  margin: auto;
}
